# Function Part 1

In [1]:
len("ILAYA")

5

In [2]:
print("ILAYA")

ILAYA

In [3]:
def test():

IndentationError: expected an indented block (3861551224.py, line 1)

In [4]:
def test():
    pass

In [5]:
def test1():
    print("This is my first function")

In [6]:
test1()

This is my first function

In [7]:
test1()

This is my first function

In [8]:
def test2():
    print(len('ILAYA'))

In [9]:
test1()

This is my first function

In [10]:
test2()

5

In [11]:
a = test2()

5

In [12]:
a

In [13]:
a + "Perumal"

TypeError: unsupported operand type(s) for +: 'NoneType' and 'str'

In [16]:
type(test1())

This is my first function

NoneType

In [17]:
a = test1()

This is my first function

In [18]:
str(a)

'None'

In [19]:
def test2():
    return "This is my first function"

In [20]:
type(test2())

str

In [21]:
a = test2()

In [22]:
a + " in python"

'This is my first function in python'

In [23]:
def test3():
    return 23456

In [24]:
c = test3()

In [25]:
c + 1424

24880

In [26]:
type(test3())

int

In [27]:
def test4():
    return 4,3,"ip", [1,3,4,6,7]

In [28]:
type(test4())

tuple

In [29]:
test4()

(4, 3, 'ip', [1, 3, 4, 6, 7])

In [30]:
b = test4()

In [31]:
b

(4, 3, 'ip', [1, 3, 4, 6, 7])

In [32]:
b[1]

3

In [33]:
b[3]

[1, 3, 4, 6, 7]

In [34]:
test4()

(4, 3, 'ip', [1, 3, 4, 6, 7])

In [35]:
a = 1
b = 5
c = "ILAYA"
d = [2,3,4,5]

In [36]:
a,b,c,d = 1,5,"ILAYA",[2,3,4,5]

In [37]:
x,y,u,v = test4()

In [38]:
x

4

In [39]:
y

3

In [40]:
u

'ip'

In [41]:
v

[1, 3, 4, 6, 7]

In [42]:
x,y,u,v,w = test4() # w is included as 5th

ValueError: not enough values to unpack (expected 5, got 4)

In [43]:
def test5():
    a = 6*7/6
    return a

In [44]:
test5()

7.0

In [45]:
len("ILAYA")

5

In [46]:
l = [1, 3, 4, 6, 7, "ILAYA", [11, 23, 34, 16, 72]]

In [47]:
def test6(a):
    n = []
    if type(a) == list:
        for i in a:
            if type(i) == int:
                n.append(i)
            
    return n

In [48]:
type(test6(l))

list

In [49]:
test6(l)

[1, 3, 4, 6, 7]

In [50]:
test6([2,34,5,6,7,"IP", ("wetr", "trhht",45,56)]) #call the funtion again . no need to write test6 code again reduces steps

[2, 34, 5, 6, 7]

In [51]:
# Aliter by another student
l = [3,4,5,6,7,7,"sudh",[1,3,4,54,56],6,7] 
def test7(a):
    n = []
    if type(a) == list: 
        for i in a:
            if type(i) == int:
                n.append(i) 
            elif type(i) == list: 
                for j in i:
                    if type(j) == int: 
                        n.append(j)
    return n

In [52]:
test7(l)

[3, 4, 5, 6, 7, 7, 1, 3, 4, 54, 56, 6, 7]

In [53]:
def test8(c) :
    if type(c) == dict:
        return c.keys()
    else:
        return "You have not passed dict"

In [54]:
test8("fngreg")

'You have not passed dict'

In [55]:
test8({"a": "qtq", "b" : [56,34,56,57],"c" : 7587})

dict_keys(['a', 'b', 'c'])

In [56]:
def test9(a,b) :
    if type(a) == list and type(a) == list:
        return a.extend(b)
    else:
        return "either of your data is not a list"

In [57]:
test9(53786, "hjfjh")

'either of your data is not a list'

In [58]:
n = test9([1,2,3,5], [4,5,6])

In [59]:
b

5

In [60]:
test9(a,b)

'either of your data is not a list'

In [61]:
a

1

In [62]:
def test9(a,b) :
    if type(a) == list and type(a) == list:
        a.extend(b)
        return a 
    else:
        return "either of your data is not a list"

In [63]:
n = test9([1,2,3,5], [4,5,6])

In [64]:
n

[1, 2, 3, 5, 4, 5, 6]

In [65]:
def triangle (rows):
    if type(rows) == int:
        for i in range(1,rows):
            for j in range(i):
                print("@", end=" ")
            print("\n")

In [66]:
triangle(7)

@

@ @

@ @ @

@ @ @ @

@ @ @ @ @

@ @ @ @ @ @

In [67]:
def test10(n):
    for i in range(0,n):
        for j in range(0, i+1):
            print("*", end=" ")
        print("\r")

In [68]:
test10(9)

*
* *
* * *
* * * *
* * * * *
* * * * * *
* * * * * * *
* * * * * * * *
* * * * * * * * *

In [94]:
def create_triangle(row_num):
    n = row_num
    k = n - 1
    
    for i in range (0, n):
        
        for j in range (0, k):
            print(end=" ")
            
        k = k-1
        
        for j in range(0, i+1):
            print("* ", end="")
            
        print("\n")
        
create_triangle(3)

  *

 * *

* * *

In [99]:
def create_triangle(row_num):
    n = row_num

    
    for i in range (0, n):
        
        for j in range (0, n+1):
            print(end=" ")
            
                
        for j in range(0, i+1):
            print("*", end=" ")
            
        print("\r")
        
create_triangle(3)

    *
    * *
    * * *