In [1]:
a = 10

In [2]:
if a < 15: print ("My name is Ilaya")

My name is Ilaya

In [3]:
a < 15

True

In [4]:
if a < 5: print ("My name is Ilaya")
else: print ("My name is Sahaana")

My name is Sahaana

In [5]:
if 10 < 3:
    print ("10 is less than 3")
else:
      print ("10 is greater than 3")

10 is greater than 3

In [6]:
income = 100
if income > 90:
    print ("I will be able to buy a Bike")
elif income > 70:
    print ("I will be able to buy a Laptop")
elif income > 60:
    print ("I will be able to buy a Phone")
else:
    print ("I will not be able to buy anything")

I will be able to buy a Bike

In [7]:
income = 100
if income > 60:
    print ("I will be able to buy a Phone")
elif income > 70:
    print ("I will be able to buy a Laptop")
elif income > 90:
    print ("I will be able to buy a Bike")
else:
    print ("I will not be able to buy anything")

I will be able to buy a Phone

In [8]:
income = int(input())
if income > 60:
    print ("I will be able to buy a Phone")
elif income > 70:
    print ("I will be able to buy a Laptop")
elif income > 90:
    print ("I will be able to buy a Bike")
else:
    print ("I will not be able to buy anything")

60
I will not be able to buy anything

In [9]:
Total_Price = int (input())
if Total_Price >= 10000:
    Discount = Total_Price * 0.20
    print("Discount will be", Discount)
elif Total_Price >= 5000:
    Discount = Total_Price * 0.10
    print("Discount will be", Discount)
else:
   print("Discount will not be Applicable")

10000
Discount will be 2000.0

In [10]:
coup = input()
if coup == "SUDH5":
    print("You will get a discount of 5%")
    amount_payable = 7000-7000*0.05
    print("you will be able to get this one neuron course for", amount_payable)
else:
    print("kindly enter a valid coupon code")

7500
kindly enter a valid coupon code

In [11]:
study_hour = int(input())
if study_hour < 2:
    print ("It may take 8 to 9 months to complete the course")
elif study_hour <= 4 and study_hour >= 2:
    print ("It may take 6 months to complete the course")
elif study_hour >= 5:
    print ("It may take 3 months to complete the course")
else:
    print ("It will be difficult to complete the course")

4
It may take 6 months to complete the course

# for

In [12]:
l = [1,2,3,4,5,6,7]
for  i in l :
    print(i)

1
2
3
4
5
6
7

In [13]:
s = "ILAYA"
for i in s:
    print(i)

I
L
A
Y
A

In [14]:
for i in "ILAYA":
    print(i)

I
L
A
Y
A

In [15]:
l = [1,4,5,3.14,4+3j,"ILAYA"]

In [16]:
for i in l:
    print(type(i))

<class 'int'>
<class 'int'>
<class 'int'>
<class 'float'>
<class 'complex'>
<class 'str'>

In [17]:
l = [1,4,3.5]
for i in l:
    print(i+2)

3
6
5.5

In [18]:
l = [1,4,3.5]
l1=[]
for i in l:
    print(i+2)
    l1.append(i+2)

3
6
5.5

In [19]:
l1

[3, 6, 5.5]

In [27]:
l = [3,45,65,"ILAYA", 3.14, 5+4j,[23,45,34,"SAHAANA"], 99]

In [21]:
for i in l :
    if type(i) == int:
        print(i)

3
45
65
99

In [22]:
l = [3, 45, 65, 'ILAYA', 3.14, (5+4j), [23, 45, 34], 99]
# Q1 Print index of all elements
# Q2 Extract all the list of character if element is string
# Q3 To return a list after squaring of all the int elements

[3, 45, 65, 'ILAYA', 3.14, (5+4j), [23, 45, 34], 99]

In [28]:
for i in l :
    if type(i) == int:
        print(i)
    elif type(i) == list:
        for j in i :
            print(j)

3
45
65
23
45
34
SAHAANA
99

In [29]:
for i in l :
    if type(i) == int:
        print(i)
    elif type(i) == list:
        for j in i :
            if type(j) == int:
                print(j)

3
45
65
23
45
34
99

In [30]:
for i in range(len(l)):
    print("index", i, "for the element",l[i])

index 0 for the element 3
index 1 for the element 45
index 2 for the element 65
index 3 for the element ILAYA
index 4 for the element 3.14
index 5 for the element (5+4j)
index 6 for the element [23, 45, 34, 'SAHAANA']
index 7 for the element 99

In [31]:
len(l)

8

In [32]:
for i in enumerate(l):
    print(i)

(0, 3)
(1, 45)
(2, 65)
(3, 'ILAYA')
(4, 3.14)
(5, (5+4j))
(6, [23, 45, 34, 'SAHAANA'])
(7, 99)

In [34]:
for i,j in enumerate(l):
    print(i,j)

0 3
1 45
2 65
3 ILAYA
4 3.14
5 (5+4j)
6 [23, 45, 34, 'SAHAANA']
7 99

In [ ]:
# Q2 Extract all the list of character if element is string

In [41]:
for i in l :
    if type(i) == str :
        l1 = []
        for j in i :
                l1.append(j)
        print(l1)

['I', 'L', 'A', 'Y', 'A']

In [1]:
l2 = []
for i in l:
    if type(i) == int:
        l2.append(i**2)

NameError: name 'l' is not defined

In [43]:
l2

[9, 2025, 4225, 9801]