In [1]:
def test(a,b,c,d,e):
    return a,b,c,d,e

In [2]:
test(32,45,66,67,839)

(32, 45, 66, 67, 839)

In [3]:
def test1(*args):
    return args

In [4]:
test1(23,56,78)

(23, 56, 78)

In [5]:
test1(34,67,89,"ILAYA", 45.76)

(34, 67, 89, 'ILAYA', 45.76)

In [6]:
test1([1,3,45,6,75], (34,56,43,55), "wef", 31+45j)

([1, 3, 45, 6, 75], (34, 56, 43, 55), 'wef', (31+45j))

In [7]:
def test2(*ilaya):
    return ilaya

In [8]:
test1([45,6,75],"ip", 65.45,(3,4,5))

([45, 6, 75], 'ip', 65.45, (3, 4, 5))

In [9]:
def test3(*ilaya, a):
    return ilaya,a

In [10]:
test3(34,56,78)

TypeError: test3() missing 1 required keyword-only argument: 'a'

In [11]:
test3(34,56,78, a = 56.8)

((34, 56, 78), 56.8)

In [12]:
def test4(*ilaya,a,b,c,d):
    return ilaya,a,b,c,d

In [13]:
test4(3,4,5,6, a = 56.8, b = "ilaya", c = (3,4,5), d = 3.14)

((3, 4, 5, 6), 56.8, 'ilaya', (3, 4, 5), 3.14)

In [14]:
def test3(a, *ilaya):
    return a, ilaya  # If a is specified in the first position automatically the first variable will be taken as a

In [15]:
test3(56.8, 34,56,a = 78)

TypeError: test3() got multiple values for argument 'a'

In [16]:
test3(a = 78, 56.8, 34,56)

SyntaxError: positional argument follows keyword argument (2611974490.py, line 1)

In [17]:
test3( 78, 56.8, 34,56) # If a is specified in the first position automatically the first variable will be taken as a

(78, (56.8, 34, 56))

In [18]:
def test3(a, *ilaya):
    return a, ilaya

In [19]:
test3( 78, 56.8, 34,56)

(78, (56.8, 34, 56))

In [20]:
def test5(a, *ilaya, b, c):
    return a, ilaya, b, c

In [21]:
test5("pi", 78, 56.8, 34,56)

TypeError: test5() missing 2 required keyword-only arguments: 'b' and 'c'

In [22]:
test5( "pi", [2,3,4], 45.56, 78, b = 56.8,c = 34)

('pi', ([2, 3, 4], 45.56, 78), 56.8, 34)

In [23]:
def test6(*args):
    l = []
    for i in args:
        if type(i)==list:
            l.append(i)
    return l

In [24]:
test6(45,56,67,76,[23,45,56,4,5,5678])

[[23, 45, 56, 4, 5, 5678]]

In [25]:
def test7(**kwargs):# kwargs - keyword arguments
    return kwargs

In [26]:
test7(a = 243, b = [546,787,131,5,23,9])

{'a': 243, 'b': [546, 787, 131, 5, 23, 9]}

In [27]:
test7(a = 243, b = [546,787], c = [131,5,23,9])

{'a': 243, 'b': [546, 787], 'c': [131, 5, 23, 9]}

In [28]:
def test8(**ruchi): # can use any keyword, not necessarily kwargs
    return ruchi

In [29]:
test8 (b = 243, g = [546,787], f = [131,5,23,9])

{'b': 243, 'g': [546, 787], 'f': [131, 5, 23, 9]}

In [30]:
def test9(**address):
    return address

In [31]:
test9 (Name = "Ilaya", Age = "45", Ph_no = "64558", Mail_id = "Mailid@hg.com")

{'Name': 'Ilaya', 'Age': '45', 'Ph_no': '64558', 'Mail_id': 'Mailid@hg.com'}

In [32]:
def test10(a, **ip):
    return ip, a

In [33]:
test10 (45674, b = 243, c = [546,787], d = [131,5,23,9])

({'b': 243, 'c': [546, 787], 'd': [131, 5, 23, 9]}, 45674)

In [34]:
def test11(a, **ip, *args): # can not use ** & * in this ordeer
    return ip, a, args

SyntaxError: invalid syntax (411157750.py, line 1)

In [35]:
def test12(a, *args, **ip): 
    return a, args, ip

In [36]:
test12(45,67,887,90, g = 9867, l = 896)

(45, (67, 887, 90), {'g': 9867, 'l': 896})

## lambda function

In [37]:
def test13(a, b): 
    return a*b

In [38]:
test13(9,5)

45

In [39]:
a = lambda a,b: a*b

In [40]:
a(9,5)

45

In [41]:
a = lambda *a : a

In [42]:
a(49,75, 78)

(49, 75, 78)

In [43]:
 x = lambda *a : a*a

In [44]:
a = lambda a,b : (a*b , a+b)

In [45]:
a(9,5)

(45, 14)

In [46]:
x = lambda x : (for i in x: print(i))

SyntaxError: invalid syntax (2793161256.py, line 1)

In [47]:
x = lambda x : [print(i) for i in x]

In [48]:
x([4,5,6,7])

4
5
6
7

[None, None, None, None]

In [49]:
x = lambda x : [i for i in x]

In [50]:
x([4,5,6,27])

[4, 5, 6, 27]

In [51]:
a = lambda **kwargs : kwargs

In [52]:
a( a = 45, b = 56)

{'a': 45, 'b': 56}

In [53]:
a = 10
def test16(c,d):
    return c*d

In [54]:
test16(a,20)

200

In [55]:
a = 10
def test16(c,d):
    a = 5 # will not be assigned 5 as it is already a = c = 10
    return c*d

In [56]:
test16(a,20)

200

In [57]:
a = 10
def test16(c,d):
    c = 5 # will be assigned 5
    return c*d

In [58]:
test16(a,20)

100

In [59]:
c = 10
def test16(c,d):
    c = 5
    return c*d

In [60]:
test16(10,20)

100

In [61]:
c

10

## List comprehension operation

In [62]:
l = [1,2,3,4,5, 45,67,89,9]       # Method 1
l1 = []
for i in l:
    l1.append(i+2)

In [63]:
l1

[3, 4, 5, 6, 7, 47, 69, 91, 11]

In [64]:
def test17(a):   # Method  2
    l1 = []
    for i in a:
        l1.append(i+2)
    return l1

In [65]:
test17(l)

[3, 4, 5, 6, 7, 47, 69, 91, 11]

In [66]:
a = lambda a: [i+2 for i in a] # Method 3

In [67]:
a(l)

[3, 4, 5, 6, 7, 47, 69, 91, 11]

In [68]:
l

[1, 2, 3, 4, 5, 45, 67, 89, 9]

In [69]:
[i + 2 for i in l] # Method 4

[3, 4, 5, 6, 7, 47, 69, 91, 11]

In [70]:
[i ** 2 for i in l]

[1, 4, 9, 16, 25, 2025, 4489, 7921, 81]

In [71]:
[(i ** 2, i + 1) for i in l]

[(1, 2),
 (4, 3),
 (9, 4),
 (16, 5),
 (25, 6),
 (2025, 46),
 (4489, 68),
 (7921, 90),
 (81, 10)]

In [72]:
[(i, i ** 2) for i in l]

[(1, 1),
 (2, 4),
 (3, 9),
 (4, 16),
 (5, 25),
 (45, 2025),
 (67, 4489),
 (89, 7921),
 (9, 81)]

In [73]:
[(i ** 2, i + i) for i in l if i<4]

[(1, 2), (4, 4), (9, 6)]

In [74]:
l1 = []
for i in l:
    if i < 4:
         l1.append ((i**2, i+i))

In [75]:
l1

[(1, 2), (4, 4), (9, 6)]

In [76]:
[(i ** 2, i + i) for i in l if i<10 if i>2]

[(9, 6), (16, 8), (25, 10), (81, 18)]

In [77]:
[(i ** 2, i + i) for i in l if i<=5 if i>=2]

[(4, 4), (9, 6), (16, 8), (25, 10)]

In [78]:
d = {1:1, 2 : 4, 3 : 9}

In [79]:
{i:i**2 for i in range (10)}

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81}

d1 = {}
for i in range (10):
    d1[i] = i**2

In [80]:
d1

NameError: name 'd1' is not defined

In [81]:
(i for i in range (10))

In [82]:
tuple(i for i in range (10))

(0, 1, 2, 3, 4, 5, 6, 7, 8, 9)

## generator object, iterator, iterables

In [83]:
a = 56   # interger is a non iterable object
for i in a:
    print(i)

TypeError: 'int' object is not iterable

In [84]:
s = "ilaya"  # string is an iterable object
for i in s:
    print(i)

i
l
a
y
a

In [85]:
next(s)

TypeError: 'str' object is not an iterator

In [86]:
next(a)

TypeError: 'int' object is not an iterator

In [87]:
#  'str' object is not an iterator but it is iterable
# But it is possible with iter function

In [88]:
b = iter(s) # to convert iterable into iterator

In [89]:
b

In [90]:
next(b)

'i'

In [91]:
next(b)

'l'

In [92]:
next(b)

'a'

In [93]:
next(b)

'y'

In [94]:
next(b)

'a'

In [95]:
s = "ilaya"  # string is an iterable object
for i in s:
    print(i)

i
l
a
y
a

In [96]:
l = [3,4,5,6,7]

In [97]:
next(l)

TypeError: 'list' object is not an iterator

In [98]:
iter(45)

TypeError: 'int' object is not iterable

In [99]:
l

[3, 4, 5, 6, 7]

In [100]:
 l = iter(l)

In [101]:
next(l)

3

In [102]:
next(l)

4

In [103]:
next(l)

5

In [104]:
next(l)

6

In [105]:
next(l)

7

In [106]:
next(l)

StopIteration: